#media{
height: 70%;
}
#icons{
    margin-top: 60%;
    padding-left: 5%;
}
#followButton{
    border-width: 1px;
    border-color: #fe2c55;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20%;
}