<div class="video-container" style="display: flex; align-items: flex-start;">
    <video id="media" class="pt-4 video-player" width="350" height="200" controls>
        <source src="../../assets/WhatsApp Video 2023-08-23 at 10.23.12 AM (1).mp4" type="video/mp4">
        Tu navegador no soporta el elemento de video.
    </video>
    
    <div  id="icons" class="icons text-sm" style="display: flex; flex-direction: column; margin-left: 20px;">
        <ul class="pb-10" style="margin-bottom: 10px;">
            <button class="fa-solid fa-heart fa-2xl" style="color: black;"></button>
            <p>2.6M</p>
        </ul>
        <ul class="pb-10" style="margin-bottom: 10px;">
            <button class="fa-solid fa-comment fa-2xl" style="color: #000000;"></button>
            <p>6.343</p>
        </ul>
        <ul class="pb-10" style="margin-bottom: 10px;">
            <button class="fa-solid fa-flag fa-2xl" style="color: #000000;"></button>
            <p>10.323</p>
        </ul>
        <ul class="pb-10">
            <button class="fa-solid fa-share fa-2xl" style="color: #000000;"></button>
            <p>20.131</p>
        </ul>
    </div>
</div>
