#ulHome{
    color: rgba(254, 44, 85, 1);
}
#ulHome:hover{
    background-color: whitesmoke;
}
#textOne{
    font-size: 15px;
}
#LoginBtn2 {
    position: relative;
    font-size: 15px;
    border-color: rgba(254, 44, 85, 1);
    border-width: 1px;
    /* background-color: rgba(254, 44, 85, 1); */
    color: rgba(254, 44, 85, 1);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 10px;
}

#custom-hr {
    width: 50%;
        margin-left: 15px;
    
    margin-bottom: 5px;
  }
  
  #footer{
    font-size: 12px;
  }
