                <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Document</title>
            </head>
            <body class="">

                <div id="sidebar" class="sidebar">
                    <button id="ulHome" class="text-lg mt-5 ml-5 "> <i class="fa-solid fa-house fa-lg" style="color: #fe2c55;"></i> <strong> Para ti</strong></button>
                    <ul class="mt-5 ml-5"> <i class="fa-regular fa-user fa-lg"></i><strong> Siguiendo</strong></ul>
                <ul class="mt-5 ml-5"> <i class="fa-regular fa-compass fa-lg"></i> <strong> Explorar</strong> </ul>
                <ul class="mt-5 ml-5"> <i class="fa-solid fa-camera fa-lg"></i> <strong> LIVE</strong></ul>
                <hr id="custom-hr" class="mt-4">
                <div id="textOne" class="text-gray-500 mt-5 ml-5">
                  <p>Inicia sesión para seguir a</p>
                  <p>creadores, dar un me gusta</p>
                  <p>a videos y ver comentarios.</p>
                </div>
                <button id="LoginBtn2" class="text-white mt-3 rounded-none "><strong> Iniciar sesión</strong></button>
                <hr id="custom-hr" class="mt-4">
                <ul id="footer" class="pl-4 pb-1 text-gray-400">
                    <a class="pr-3" href="">Acerca de</a>
                    <a href="">Sala de empresa</a>
                  </ul>
                    <ul id="footer" class="pl-4 pb-3 text-gray-400">
                        <a class="pr-3 "  href="">Contactos</a>
                        <a class="pr-3"  href="">Vacantes</a>
                    </ul>
                    <ul id="footer" class="pl-4 pb-1 text-gray-400">
                        <a class="pr-3" href="">Tiktok for Good</a>
                        <a href="">Publicidad</a>
                    </ul>
                    <ul id="footer" class="pl-4 pb-1 text-gray-400">
                        <a class="pr-3" href="">Developers</a>
                        <a href="">Transparencia</a>
                    </ul>
                    <ul id="footer" class="pl-4 pb-3 text-gray-400">
                        <a class="pr-3" href="">Tiktok Bonus</a>
                        <a href="">TikTok Embeds</a>
                    </ul>
                    <ul id="footer" class="pl-4 pb-1 text-gray-400">
                        <a class="pr-3" href="">Ayuda</a>
                        <a href="">seguridad</a>
                        <a class="pr-3" href="">Términos</a>
                    </ul>
                    <ul id="footer" class="pl-4 pb-1 text-gray-400">
                        <a class="pr-3" href="">Privacidad</a>
                        <a href="">Portal de creadores</a>
                    </ul>
                    <ul  id="footer" class="pl-4 pb-1 text-gray-400">
                        <a class="pr-3" href="">Normas de la comunidad</a>
                    </ul>
                    <ul id="footer" class="pl-4 pt-1 text-gray-400">
                        <p>© 2023 Blumer</p>
                    </ul>
                </div>
            </body>
            </html>