

<body class="mb-20">
    <nav class="fixed top-0 left-0 w-full bg-white ">
        <div class="col columns-5">
    
            <div class="mt-3 ml-4" id="img1">
                <img src="../../assets/tik.png" alt="">
            </div>
            <div>
              <input class=" shadow appearance-none border rounded-lg w-full my-3 ml-56  py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="search" placeholder="Some random search">       
            </div>
    
            <div>
                <button  id="upploadBtn" class="mt-3  pl-5 pr-5 pt-1 pb-1">  <i class="fa-solid fa-plus"> </i>  Cargar</button>
            </div>
    
            <div>
                <button  id="LoginBtn2" class=" text-white mt-3  pl-5 pr-5 pt-1 pb-1"><strong> Iniciar sesión</strong></button>
            </div>
    
            <div>
                <i id="vertical" class=" mt-7 fa-solid fa-ellipsis-vertical fa-lg"></i>
            </div>
        </div>
        <hr>
    </nav>
    
</body>