#img1{
    width: 50%;
}
#upploadBtn {
    position: relative;
    left: 200%;
    transform: translateX(-50%);
    font-size: 17px;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;

}
#LoginBtn2 {
    position: relative;
    left: 150%;
    transform: translateX(-50%);
    font-size: 17px;
    border-color: rgba(254, 44, 85, 1);
    border-width: 1px;
    background-color: rgba(254, 44, 85, 1);
    border-radius: 5px;
}
#vertical{
    position: relative;
    left: 85%;
    transform: translateX(-50%);
}
#buttonHoverr:hover{
    background-color: whitesmoke;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; /* Asegura que el nav esté por encima del contenido */
}