<div class="flex items-center">
    <div id="imgMain" class="image-container">
        <img class="rounded-full w-12" src="assets/pfp.jpeg" alt="">
        <div class="hover-box shadow-xl bg-warning-100">
            <div class="col columns-2">
                <div>
                    <img src="assets/pfp.jpeg" class="rounded-full w-12" alt="">
                </div>
                <div>
                    <button id="followButton2" class=" pt-3 pb-3 rounded-sm mt-3 ml-7"
                        style="color: #fe2c55;"><strong>Seguir</strong></button>
                </div>
            </div>
            <div>
                <strong>somosBlumer</strong>
                <p class="text-sm">blumer</p>
                <div class="col columns-2">
                    <div>
                        <p class="text-sm mr-10"><strong>2.3M </strong><a href=""
                                class="text-gray-500 text-sm">Seguidores </a></p>
                    </div>
                    <div>
                        <p class="text-sm mr-10"><strong>25.2M </strong><a href="" class="text-gray-500 text-sm">Me
                                gusta </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-2">
        <h6 class="pt-5"><strong>SomosBlumer</strong></h6>
        <p>Mera pinta <a href=""><strong class="text-blue-500">#somosBLumer #blumer</strong></a></p>
        <p class="text-sm"><i class="fa-solid fa-music fa-xs"></i> sonido original -Blumer-</p>
    </div>
    <div>
        <button id="followButton" class="" style="color: #fe2c55;"><Strong>Seguir</Strong></button>

    </div>
</div>