#ulHome{
    color: rgba(254, 44, 85, 1);
}
#textOne{
    font-size: 15px;
}
#LoginBtn2 {
    position: relative;
    left: 7%;
    transform: translateX(-50%);
    font-size: 15px;
    border-color: rgba(254, 44, 85, 1);
    border-width: 1px;
    /* background-color: rgba(254, 44, 85, 1); */
    color: rgba(254, 44, 85, 1);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 30px;
}
.custom-hr {
    width: 18%; /* Puedes ajustar el porcentaje según tu preferencia */
    margin-left: 15px;
    margin-top: 2%;
    margin-bottom: 5px;
  }
  
  #footer{
    font-size: 12px;
  }
  #media{   
     border-radius: 25px;
  }

  #upploadBtn{
    border-radius: 1px;
    border-radius: 1px;
    border-color: rgba(254, 44, 85, 1);
    color: rgba(254, 44, 85, 1);
    border-width: 1px;
    margin-left: 30%;
    margin-top: 8%
  }
  .icons{
    padding-top: 80%;
    margin-right: 100%;
     background-color: gray;
    
  }