<app-nav></app-nav>
    <div class="grid grid-cols-3 gap-4">
        <div>
            <app-side-bar></app-side-bar>
        </div>
        
        <div class="">
            <div class="flex items-center"> <!-- Utilizamos "flex" para alinear verticalmente los elementos -->
                <img class="rounded-full w-12" src="../../assets/pfp.jpeg" alt="">
                <div class="ml-2"> <!-- Agregamos un margen a la izquierda para separar la imagen del texto -->
                    <h6 class="pt-5"><strong>SomosBlumer</strong></h6>
                    <p>Mera pinta <a href=""><strong class="text-blue-500">#somosBLumer #blumer</strong></a></p>
                    <p class="text-sm"><i class="fa-solid fa-music fa-xs"></i> sonido original -Blumer-</p>
                </div>
            </div>
            <app-media></app-media>
        </div>
    </div> 

s
